*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  justify-content: center;
  margin: auto;
  align-content: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-column-gap: 30px;
  justify-content: center;
  max-width: 1140px;
  grid-template: minmax(auto, 534px) / minmax(auto, 711px) 1fr;
}

.result {
  display: grid;
  grid-row-gap: 16px;
  padding-block-start: 78px;
}

.result__video-container {
  position: relative;
  z-index: 2;
  display: grid;
  min-height: 386px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-column-gap: 38px;
  grid-template: minmax(54px, auto) / 1fr max-content minmax(194px, auto);
}

.content__details {
  display: grid;
  align-content: space-between;
}

.content__list {
  position: relative;
  z-index: 2;
  display: grid;
  max-height: 298px;
  min-width: 399px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__video-card {
  display: grid;
  justify-content: space-between;
  grid-template: 1fr / max-content minmax(194px, auto);
}

.content__video-card-thumbnail {
  width: 100%;
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset {
  display: grid;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  padding-block: 2px 4px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible),
.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list .search-form__label:hover,
.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  margin: 2px;
}

.more-button {
  width: 99%;
  margin: 2px;
}

.search-form__textfield {
  border: 1px solid #fff;
  border-style: solid none;
  outline: none;
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  display: grid;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox[type='checkbox']:checked
  + .search-form__pseudo-checkbox::before {
  content: '';
  display: grid;
  align-self: center;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  align-items: start;
}

.content__card-link_current {
  box-shadow: 0 0 0 2px #545050;
  background-color: #545050;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content__list-item:active {
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  box-shadow: 0 0 0 2px #545050;
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button-template:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
