*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  
  grid-template-columns: minmax(711px, auto) 1fr;
  grid-column-gap: 30px;
  justify-content: center;
  max-width: 1140px;
  margin: 133px 30px;
}

.result {
  display: grid;
  grid-row-gap: 16px;
}

.result__video-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 78px;
}

.result__video {
  min-width: 711px;
}

.search-form {
  display: grid;
  grid-template-columns: max-content max-content minmax(194px, auto);
  grid-column-gap: 40px;
  justify-content: space-between;
}

.content__details {
  display: grid;
  grid-row-gap: 28px;
  align-content: space-between;
}

.content__list {
  max-height: 298px;
  overflow: auto;
}